body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
    padding: 40px;
    background: white;
    margin-top: 40px;
    border-radius: 10px;
}

.name { color: #0078ff; }

.profile-img {
    width: 180px;
    border-radius: 50%;
    margin: 20px 0;
}

.project-img {
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
}

.cv-button {
    display: inline-block;
    padding: 12px 20px;
    background: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 18px;
}

.cv-button:hover {
    background: #005fcc;
}

